@import "tailwindcss";

@keyframes modalExpand {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes modalCollapse {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.modal-content {
  animation: modalContent 0.5s ease forwards;
}

@keyframes modalContent {
  from {
    opacity: 0;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(100);
  }
}

.swiper {
  height: 1px;
  width: 1px;
}

.swiper-initialized {
  width: auto;
  height: auto;
  overflow: hidden;
}

.swiper-slide {
  overflow: hidden !important;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-shimmer {
  animation: shimmer 6s infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-rainbow {
  background: linear-gradient(
    270deg,
    #ff00cc,
    #ff0077,
    #00ffff,
    #33ffcc,
    #ff9900
  );
  background-size: 400% 400%; /* important! */
  animation: rainbow 6s ease infinite;
}



.backdroptest ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.2), #000);
}


