#backend
backend/node_modules
backend/generated
backend/dist
backend/.env
backend/prisma/migrations


#front
front/node_modules
front/.next
front/build

#admin
admin/node_modules
admin/dist
dist-ssr
admin/*.local
